# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.idea
.vs

# dependencies
/node_modules

# production
/build

# misc
.env
config.json
offerInfo.json
valueOfferSlot.json
teeOfferInfo.json
teeOfferSlot.json
teeOfferOption.json
encryption.json
providers.json
error.log
keys
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp

dist
libs
